// Color variable .......
$color-primary: #014A7E;
$color-secondary: #00C19A;
$color-danger: #E74C3C;
$color-info: #0CB9F3;
$color-warning: #F39C12;
$color-danger: #E74C3C;
$color-success: #00C19A;
$color-queenBlue: #346e98;
$color-crystalBlue: #6792b2;
$color-wildBlueYonder: #99b7cb;
$color-brightGray: #e6edf2;
$color-black: #000;
$color-darkCharcoal: #333;
$color-graniteGray: #666;
$color-spanishGray: #999;
$color-platinum: #e5e5e5;
$color-white: #fff;